@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
}

.paginate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginate li{
    width: 30px;
    height: 30px;
    margin: 5px;
}